In [1]:
import pandas as pd
import numpy as np
import nltk
import random
import string
import re

In [2]:
#Canada
ca = pd.read_csv('/Users/Rebecca/Desktop/PEACE_Inst/data/5_domestic_filter_Ngram_stopwords_lemmatize/CA_domestic_Ngram_stopword_lematize.csv')

In [4]:
print(len(ca))
ca.head()

73870

,Unnamed: 0,article_id,article_title,publisher,year,article_text,country_mention,Domestic,article_text_Ngram,article_text_Ngram_stopword,article_text_Ngram_stopword_lemmatize
0,0,51292143,"Edibles, extracts and topicals will be offered...",prpeak.com,2019,The province is now distributing new categori...,"[('Canada', 1), ('United States', 1), ('Canada...",True,The province is now distributing new categori...,The province distributing new categories legal...,The province distribute new category legal non...
1,1,51037626,Intelligence official charged seemed to be 'ex...,prpeak.com,2019,"Ortis , 47 , was charged under three sections...","[('United States', 1), ('Canada', 1), ('France...",True,"Ortis , 47 , was charged under three sections...","Ortis , 47 , charged three sections Security I...",Ortis 47 charge three section Security Informa...
2,2,51008947,Georgia GOP Sen. Isakson to retire over health...,prpeak.com,2019,ATLANTA Republican Sen. Johnny Isakson's anno...,"[('Georgia', 15), ('United Kingdom', 1), ('Aus...",True,ATLANTA Republican Sen. Johnny Isakson's anno...,ATLANTA Republican Sen. Johnny Isakson 's anno...,ATLANTA Republican Sen. Johnny Isakson 's anno...
3,4,51220423,Around Powell River: Community listings | Powe...,prpeak.com,2019,"Powell River Aikikai , self defence , the art...","[('Canada', 1), ('United States', 1), ('Canada...",True,"Powell River Aikikai , self defence , the art...","Powell River Aikikai , self defence , art peac...",Powell River Aikikai self defence art peace in...
4,5,51159318,President of Cannabis NB says it will take mor...,prpeak.com,2019,President of Cannabis NB says it will take mo...,"[('Canada', 1), ('Australia', 1), ('United Sta...",True,President of Cannabis NB says it will take mo...,President Cannabis NB says take time profitabl...,President Cannabis NB say take time profitable...

In [2]:
import spacy

In [3]:
nlp = spacy.load('en_core_web_sm')

In [44]:
text = ca['article_text_Ngram']
ca['text']=""
ca['text_2']=""

In [15]:
#new_text=" ".join(text_no_namedentities)
#new_text_ = remove_names(new_text)

In [18]:
#document = nlp(text_3)
#text_no_namedentities = []

#ents = [e.text for e in document.ents]
#for item in document:
 #   if item.text in ents:
  #      pass
   # else:
    #    text_no_namedentities.append(item.text)
#print(" ".join(text_no_namedentities))

In [4]:
def remove_names(text):
    doc = nlp(text)
    newString = text
    for e in reversed(doc.ents):
        if e.label_ in ["PERSON", "GPE"]:
       # if e.label_ == "PERSON" | e.label_=="GPE": # Only if the entity is a PERSON
            newString = newString[:e.start_char] + newString[e.start_char + len(e.text):]
    return newString

In [5]:
def remove_ne(text):
    doc = nlp(text)
    newString = text
    for e in reversed(doc.ents):
        if e.label_ == "GPE": # Only if the entity is a PERSON
            newString = newString[:e.start_char] + newString[e.start_char + len(e.text):]
    return newString

In [6]:

def remove_place(text):
    document=nlp(text)
    #newString = []
    text_no_namedentities=[]
    ents = [e.text for e in document.ents]
    for item in document:
        if item.text in ents:
            pass
        else:
            text_no_namedentities.append(item.text)
    return " ".join(text_no_namedentities)

In [7]:
def remove_2(text):
    document=nlp(text)
    #newString = []
    text_no_namedentities=[]
    #ents = [e.text for e in document.ents]
    for token in document:
        if not token.ent_type:
            text_no_namedentities += token.text
            if token.whitespace_:
                text_no_namedentities += " "
    return "".join(text_no_namedentities)

In [68]:
CA=pd.read_csv("data/CA2.csv")

In [10]:
CA.head()

,Unnamed: 0,Unnamed: 0.1,article_id,article_title,publisher,year,article_text,country_mention,Domestic,article_text_Ngram,article_text_Ngram_stopword,article_text_Ngram_stopword_lemmatize,text_2
0,0,0,51292143,"Edibles, extracts and topicals will be offered...",prpeak.com,2019,The province is now distributing new categori...,"[('Canada', 1), ('United States', 1), ('Canada...",True,The province is now distributing new categori...,The province distributing new categories legal...,The province distribute new category legal non...,The province is now distributing new categor...
1,1,1,51037626,Intelligence official charged seemed to be 'ex...,prpeak.com,2019,"Ortis , 47 , was charged under three sections...","[('United States', 1), ('Canada', 1), ('France...",True,"Ortis , 47 , was charged under three sections...","Ortis , 47 , charged three sections Security I...",Ortis 47 charge three section Security Informa...,", , was charged under sections of the Securi..."
2,2,2,51008947,Georgia GOP Sen. Isakson to retire over health...,prpeak.com,2019,ATLANTA Republican Sen. Johnny Isakson's anno...,"[('Georgia', 15), ('United Kingdom', 1), ('Aus...",True,ATLANTA Republican Sen. Johnny Isakson's anno...,ATLANTA Republican Sen. Johnny Isakson 's anno...,ATLANTA Republican Sen. Johnny Isakson 's anno...,Sen. 's announcement that he will retire at ...
3,3,4,51220423,Around Powell River: Community listings | Powe...,prpeak.com,2019,"Powell River Aikikai , self defence , the art...","[('Canada', 1), ('United States', 1), ('Canada...",True,"Powell River Aikikai , self defence , the art...","Powell River Aikikai , self defence , art peac...",Powell River Aikikai self defence art peace in...,"Powell River , self defence , the art of pea..."
4,4,5,51159318,President of Cannabis NB says it will take mor...,prpeak.com,2019,President of Cannabis NB says it will take mo...,"[('Canada', 1), ('Australia', 1), ('United Sta...",True,President of Cannabis NB says it will take mo...,President Cannabis NB says take time profitabl...,President Cannabis NB say take time profitable...,President of Cannabis NB says it will take m...

In [45]:
ca['text']=text.apply(remove_place)
ca['text_2']=ca['text'].apply(remove_names)
ca = ca.drop(columns=['text'])

In [37]:
ca['text']

0      The province is now distributing new categor...
1      , , was charged under sections of the Securi...
2      Sen. 's announcement that he will retire at ...
3      Powell River , self defence , the art of pea...
4      President of Cannabis NB says it will take m...
5      Prime Minister Justin embraces Dominic as he...
6      warns of government impersonation scam . Cal...
7      say body of missing kayaker found near Powel...
8      Dale appointed chair of Canadian Football Le...
9      Ex medical officer loses fight to block rele...
Name: text, dtype: object

In [74]:
CA['text_2']=CA['text_2'].apply(remove_2)

In [69]:
test=CA[CA['text_2'].str.contains("Canada")]['text_2'][3:5]

In [70]:
test_=test.apply(remove_2)

In [73]:
test_.str.contains("Canada")

9     False
27    False
Name: text_2, dtype: bool

In [29]:
text_data=test[9]
doc=nlp(text_data)
text_no_namedentities = ""
for token in doc:
    if not token.ent_type:
        text_no_namedentities += token.text
        if token.whitespace_:
            text_no_namedentities += " "

In [30]:
text_no_namedentities

"  Ex medical officer loses fight to block release of sensitive report . TORONTO The former head of a public health unit on lost her last bid to keep secret a report that details her personal relationship with a convicted fraudster the agency hired as its chief financial officer . However , despite refusal to weigh in on the case , the report involving Dr.  remained under wraps for the time being . On advice from legal counsel , the applicant can request within to reconsider , unit spokesman said . The case arose in , when based in Sault Ste . , . , hired as its interim for . His hiring came after his predecessor left amid criminal charges of breach of trust and theft . , however , turned out to be  , of , . , who had a criminal record for multiple counts of fraud . The revelation , by media outlet , prompted to resign in , sparking questions about her role in his hiring and whether their personal relationship had put her in an undisclosed conflict of interest . , who says she is legally blind , has spent fighting release of the forensic report into the situation . She said ahead of the decision that she is being revictimized . Though it is hurtful to have to hear that my visual disability and associated insecurities allowed me to become the victim of a professional conman now awaiting sentencing for defrauding another woman , I am glad the report found no money was misappropriated during my tenure . The health unit has long wanted to release the document under to inform the citizenry about the activities of the institution during a time when its integrity was in question . The province 's privacy commissioner agreed a compelling public interest in the disclosure outweighed 's privacy concerns . In , acknowledged the significant personal distress releasing the audit would cause but , unlike , ruled the public interest in how hired outweighed her privacy interests . The doctor was a senior public official accountable to the community , the health unit board as well as , the appellate court said . , in line with the wishes of the health unit and the privacy commissioner ruling , ordered full release of the audit , prompting her now failed attempt to involve . was found guilty of defrauding another woman . However , he is awaiting a ruling on his request to stay the proceedings on the grounds that his charter rights were violated because of the strip searches he was subjected to while in detention ."

In [31]:
text_data

"  Ex medical officer loses fight to block release of sensitive report . TORONTO The former head of a public health unit on lost her last bid to keep secret a report that details her personal relationship with a convicted fraudster the agency hired as its chief financial officer . However , despite the Supreme Court of Canada 's refusal to weigh in on the case , the report involving Dr.  remained under wraps for the time being . On advice from Algoma Public Health legal counsel , the applicant can request within 30 days the Supreme Court of Canada to reconsider , unit spokesman Leo Vecchio said . The case arose in , when Algoma Public Health based in Sault Ste . , . , hired Shaun as its interim for six months ending in May 2014 . His hiring came after his predecessor left amid criminal charges of breach of trust and theft . , however , turned out to be  , of , . , who had a criminal record for multiple counts of fraud . The revelation , by media outlet , prompted to resign in early 2015 , sparking questions about her role in his hiring and whether their personal relationship had put her in an undisclosed conflict of interest . , who says she is legally blind , has spent several years fighting release of the forensic report into the situation . She said ahead of the Supreme Court decision that she is being revictimized . Though it is hurtful to have to hear that my visual disability and associated insecurities allowed me to become the victim of a professional conman now awaiting sentencing for defrauding another woman , I am glad the report found no money was misappropriated during my tenure . The health unit has long wanted to release the document under the Municipal Freedom of Information and Protection of Privacy Act to inform the citizenry about the activities of the institution during a time when its integrity was in question . The province 's privacy commissioner agreed a compelling public interest in the disclosure outweighed 's privacy concerns . In , the Ontario Court of Appeal acknowledged the significant personal distress releasing the audit would cause but , unlike Divisional Court , ruled the public interest in how Algoma Public Health hired outweighed her privacy interests . The doctor was a senior public official accountable to the community , the health unit board as well as the Ministry of Health , the appellate court said . The Appeal Court , in line with the wishes of the health unit and the privacy commissioner ruling , ordered full release of the audit , prompting her now failed attempt to involve the Supreme Court . was found guilty earlier this year of defrauding another woman . However , he is awaiting a ruling on his request to stay the proceedings on the grounds that his charter rights were violated because of the strip searches he was subjected to while in detention ."

In [55]:
#save no named entities  data to csv
ca.to_csv("CA2.csv")

In [8]:
import collections
def top_words(text):
    counts = collections.Counter(text.lower().split())
    return [elem for elem, _ in sorted(counts.most_common(),key=lambda x:(-x[1], x[0]))[:1000]]

In [9]:
def top_words_freq(text):
    counts = collections.Counter(text.lower().split())
    return [_ for elem, _ in sorted(counts.most_common(),key=lambda x:(-x[1], x[0]))[:1000]]

In [56]:
CA = pd.read_csv('CA2.csv')

In [57]:
CA.head()

,Unnamed: 0,Unnamed: 0.1,article_id,article_title,publisher,year,article_text,country_mention,Domestic,article_text_Ngram,article_text_Ngram_stopword,article_text_Ngram_stopword_lemmatize,text_2
0,0,0,51292143,"Edibles, extracts and topicals will be offered...",prpeak.com,2019,The province is now distributing new categori...,"[('Canada', 1), ('United States', 1), ('Canada...",True,The province is now distributing new categori...,The province distributing new categories legal...,The province distribute new category legal non...,The province is now distributing new categor...
1,1,1,51037626,Intelligence official charged seemed to be 'ex...,prpeak.com,2019,"Ortis , 47 , was charged under three sections...","[('United States', 1), ('Canada', 1), ('France...",True,"Ortis , 47 , was charged under three sections...","Ortis , 47 , charged three sections Security I...",Ortis 47 charge three section Security Informa...,", , was charged under sections of the Securi..."
2,2,2,51008947,Georgia GOP Sen. Isakson to retire over health...,prpeak.com,2019,ATLANTA Republican Sen. Johnny Isakson's anno...,"[('Georgia', 15), ('United Kingdom', 1), ('Aus...",True,ATLANTA Republican Sen. Johnny Isakson's anno...,ATLANTA Republican Sen. Johnny Isakson 's anno...,ATLANTA Republican Sen. Johnny Isakson 's anno...,Sen. 's announcement that he will retire at ...
3,3,4,51220423,Around Powell River: Community listings | Powe...,prpeak.com,2019,"Powell River Aikikai , self defence , the art...","[('Canada', 1), ('United States', 1), ('Canada...",True,"Powell River Aikikai , self defence , the art...","Powell River Aikikai , self defence , art peac...",Powell River Aikikai self defence art peace in...,"Powell River , self defence , the art of pea..."
4,4,5,51159318,President of Cannabis NB says it will take mor...,prpeak.com,2019,President of Cannabis NB says it will take mo...,"[('Canada', 1), ('Australia', 1), ('United Sta...",True,President of Cannabis NB says it will take mo...,President Cannabis NB says take time profitabl...,President Cannabis NB say take time profitable...,President of Cannabis NB says it will take m...

In [59]:
CA_word = pd.DataFrame(columns=['word','frequency'])
Text = ' '.join(ca['text_2'].tolist())
Text=re.sub(r'[^\w\s]', '', Text)

In [100]:
CA_word['relative_freq']=""

In [81]:
CA_word['word'] = top_words(Text)
CA_word['frequency']=top_words_freq(Text)

In [101]:
total_num = CA_word['frequency'].sum()
CA_word['relative_freq']=CA_word['frequency']/total_num

In [102]:
CA_word.head()

  word  frequency  relative_freq
0  the    2913900       0.083373
1   to    1453643       0.041592
2  and    1388210       0.039720
3   of    1344326       0.038464
4    a    1199482       0.034320

In [103]:
CA_word.to_csv("CA_word.csv")

In [87]:
#US
us = pd.read_csv('/Users/Rebecca/Desktop/PEACE/data/5_domestic_filter_Ngram_stopwords_lemmatize/US_domestic_Ngram_stopword_lematize.csv')
print(len(us))
us.head()

67406

,Unnamed: 0,article_id,article_title,publisher,year,article_text,country_mention,Domestic,article_text_Ngram,article_text_Ngram_stopword,article_text_Ngram_stopword_lemmatize
0,1,2047596,Francis and the 'Culture of Encounter',National Catholic Reporter,2013,Francis and the' Culture of Encounter'. All p...,"[('Italy', 1), ('Brazil', 1), ('China', 1), ('...",True,Francis and the' Culture of Encounter'. All p...,Francis ' Culture Encounter ' . All popes tend...,Francis Culture Encounter All pope tend couple...
1,2,109921,Papabile of the Day: The Men Who Could Be Pope,National Catholic Reporter,2013,Papabile of the Day The Men Who Could Be Pope...,"[('United Kingdom', 1), ('United States', 1), ...",True,Papabile of the Day The Men Who Could Be Pope...,Papabile Day The Men Who Could Be Pope . John ...,Papabile Day The Men Who Could Be Pope John Al...
2,3,73202,We can become God's prophets through love,National Catholic Reporter,2013,We can become God's prophets through love. Th...,"[('United States', 1), ('Canada', 1), ('Hungar...",True,We can become God's prophets through love. Th...,We become God 's prophets love . The first les...,We become God 's prophet love The first lesson...
3,5,277348,The paradox of Pope Francis,National Catholic Reporter,2013,The Independent News Source. The paradox of P...,"[('Italy', 2), ('France', 1), ('Germany', 1), ...",True,The Independent News Source. The paradox of P...,The Independent News Source . The paradox Pope...,The Independent News Source The paradox Pope F...
4,6,177275,We must emulate the example of Jesus during Ho...,National Catholic Reporter,2013,We must emulate the example of Jesus during H...,"[('United Kingdom', 1), ('Israel', 1), ('Portu...",True,We must emulate the example of Jesus during H...,We must emulate example Jesus Holy Week underg...,We must emulate example Jesus Holy Week underg...

In [88]:

text = us['article_text_Ngram']
us['text']=""
us['text_2']=""

In [89]:
us['text']=text.apply(remove_place)
us['text_2']=us['text'].apply(remove_names)
us = us.drop(columns=['text'])

In [90]:
#save no named entities  data to csv
us.to_csv("US2.csv")

In [91]:
US_word = pd.DataFrame(columns=['word','frequency','relative_freq'])
Text = ' '.join(us['text_2'].tolist())
Text=re.sub(r'[^\w\s]', '', Text)

In [94]:
US_word['word'] = top_words(Text)
US_word['frequency']=top_words_freq(Text)

In [97]:
total_num = US_word['frequency'].sum()
US_word['relative_freq']=US_word['frequency']/total_num

In [98]:
US_word.head()

  word  frequency  relative_freq
0  the    2567497       0.083421
1   of    1263848       0.041064
2   to    1225145       0.039806
3  and    1183105       0.038441
4    a    1071531       0.034815

In [99]:
US_word.to_csv("US_word.csv")

In [8]:
#singapore
sg = pd.read_csv('/Users/Rebecca/Desktop/PEACE/data/5_domestic_filter_Ngram_stopwords_lemmatize/SG_domestic_Ngram_stopword_lematize.csv')

In [9]:
print(len(sg))
sg.head()

20196

,Unnamed: 0,article_id,article_title,publisher,year,article_text,country_mention,Domestic,article_text_Ngram,article_text_Ngram_stopword,article_text_Ngram_stopword_lemmatize
0,157,41297631,2019 | Business Insider Singapore | Page 3601,businessinsider.sg,2019,Netflix's dark comedy A Series of Unfortunate...,"[('Cuba', 7), ('Singapore', 2), ('Georgia', 1)...",True,Netflix's dark comedy A Series of Unfortunate...,Netflix 's dark comedy A Series Unfortunate Ev...,Netflix 's dark comedy A Series Unfortunate Ev...
1,160,41397200,Here's our honest review of Playmade's cocoa m...,businessinsider.sg,2019,Taiwanese bubble tea chain Playmade known for...,"[('Singapore', 2), ('Japan', 1), ('United Stat...",True,Taiwanese bubble tea chain Playmade known for...,Taiwanese bubble tea chain Playmade known maki...,Taiwanese bubble tea chain Playmade know make ...
2,175,41287072,2019 | Business Insider Singapore | Page 3495,businessinsider.sg,2019,"In mid July , Build A Bear debuted the Pay Yo...","[('Iceland', 9), ('Singapore', 5), ('Thailand'...",True,"In mid July , Build A Bear debuted the Pay Yo...","In mid July , Build A Bear debuted Pay Your Ag...",In mid July Build A Bear debut Pay Your Age de...
3,177,41514837,Suicide is the main cause of death for millenn...,businessinsider.sg,2019,Suicide is the main cause of death for millen...,"[('Singapore', 3), ('Singapore', 1)]",True,Suicide is the main cause of death for millen...,Suicide main cause death millennials Singapore...,Suicide main cause death millennials Singapore...
4,183,41384923,Bowflex now makes an adjustable kettlebell tha...,businessinsider.sg,2019,Bowflex now makes an adjustable kettlebell th...,[],True,Bowflex now makes an adjustable kettlebell th...,Bowflex makes adjustable kettlebell goes 8 40 ...,Bowflex make adjustable kettlebell go 8 40 pou...

In [10]:
text = sg['article_text_Ngram']
sg['text']=""
sg['text_2']=""

In [11]:
sg['text']=text.apply(remove_place)
sg['text_2']=sg['text'].apply(remove_names)
sg = sg.drop(columns=['text'])

In [12]:
#save no named entities  data to csv
sg.to_csv("SG2.csv")

In [13]:
SG_word = pd.DataFrame(columns=['word','frequency','relative_freq'])
Text = ' '.join(sg['text_2'].tolist())
Text=re.sub(r'[^\w\s]', '', Text)

In [14]:
SG_word['word'] = top_words(Text)
SG_word['frequency']=top_words_freq(Text)

In [15]:
total_num = SG_word['frequency'].sum()
SG_word['relative_freq']=SG_word['frequency']/total_num

In [16]:
SG_word.head()

  word  frequency  relative_freq
0  the     549367       0.086685
1   to     280574       0.044272
2  and     256712       0.040507
3   of     248001       0.039132
4    a     197995       0.031242

In [17]:
SG_word.to_csv("SG_word.csv")

In [18]:
#Philippines
ph = pd.read_csv('/Users/Rebecca/Desktop/PEACE/data/5_domestic_filter_Ngram_stopwords_lemmatize/PH_domestic_Ngram_stopword_lematize.csv')
print(len(ph))
ph.head()

61518

,Unnamed: 0,article_id,article_title,publisher,year,article_text,country_mention,Domestic,article_text_Ngram,article_text_Ngram_stopword,article_text_Ngram_stopword_lemmatize
0,0,2032298,"National Newsbits for December 13,2013",Manila Bulletin,2013,"National Newsbits for December 13,2013. Decem...","[('Philippines', 1), ('United States', 1), ('N...",True,"Natinal Newsbits fr December 13, December 12 ...","Natinal Newsbits fr December 13 , December 12 ...",Natinal Newsbits fr December 13 December 12 20...
1,1,2011163,$120-B export target pushed back,Manila Bulletin,2013,$120 B export target pushed back. The Departm...,"[('Japan', 1), ('Philippines', 1), ('United St...",True,$120 B exprt target pushed back. The Departme...,$ 120 B exprt target pushed back . The Departm...,120 B exprt target push back The Department f ...
2,2,2047361,Shell prepares to mark 100 years,Manila Bulletin,2013,Shell prepares to mark 100 years. December 19...,"[('Philippines', 3), ('Philippines', 1), ('Uni...",True,Shell prepares t mark 100 years. December 19 ...,"Shell prepares mark 100 years . December 19 , ...",Shell prepares mark 100 year December 19 These...
3,3,2060055,10 deaths in 4 road accidents,Manila Bulletin,2013,"10 deaths in 4 road accidents. Nasugbu , Bata...","[('Puerto Rico', 1), ('United Kingdom', 1), ('...",True,"10 deaths in 4 rad accidents. Nasugbu , Batan...","10 deaths 4 rad accidents . Nasugbu , Batangas...",10 death 4 rad accident Nasugbu Batangas Seven...
4,4,673597,JG Summit raises P8.8 billion from sale of new...,Manila Bulletin,2013,JG Summit raises P8.8 billion from sale of ne...,"[('Spain', 1), ('United States', 1), ('Peru', ...",True,JG Summit raises P8 billin frm sale f new sha...,JG Summit raises P8 billin frm sale f new shar...,JG Summit raise P8 billin frm sale f new share...

In [19]:
text = ph['article_text_Ngram']
ph['text']=""
ph['text_2']=""

In [20]:
ph['text']=text.apply(remove_place)
ph['text_2']=ph['text'].apply(remove_names)
ph = ph.drop(columns=['text'])

In [21]:
#save no named entities  data to csv
ph.to_csv("PH2.csv")

In [22]:
PH_word = pd.DataFrame(columns=['word','frequency','relative_freq'])
Text = ' '.join(ph['text_2'].tolist())
Text=re.sub(r'[^\w\s]', '', Text)

In [23]:
PH_word['word'] = top_words(Text)
PH_word['frequency']=top_words_freq(Text)

In [24]:
total_num = PH_word['frequency'].sum()
PH_word['relative_freq']=PH_word['frequency']/total_num

In [25]:
PH_word.head()

  word  frequency  relative_freq
0  the    2065762       0.103908
1    f     868395       0.043680
2    t     838124       0.042158
3  and     812350       0.040861
4   in     666728       0.033536

In [26]:
PH_word.to_csv("PH_word.csv")

In [11]:
nz=pd.read_csv('/Users/Rebecca/Desktop/PEACE_Inst/data/5_domestic_filter_Ngram_stopwords_lemmatize/NZ_domestic_Ngram_stopword_lematize.csv')

In [12]:
ng=pd.read_csv('/Users/Rebecca/Desktop/PEACE_Inst/data/5_domestic_filter_Ngram_stopwords_lemmatize/NG_domestic_Ngram_stopword_lematize.csv')

In [15]:
text = nz['article_text_Ngram']
nz['text']=""
nz['text_2']=""

In [16]:
nz['text']=text.apply(remove_place)
nz['text_2']=nz['text'].apply(remove_names)
nz = nz.drop(columns=['text'])

In [17]:
#save no named entities  data to csv
nz.to_csv("NZ2.csv")

In [18]:
NZ_word = pd.DataFrame(columns=['word','frequency','relative_freq'])
Text = ' '.join(nz['text_2'].tolist())
Text=re.sub(r'[^\w\s]', '', Text)

In [19]:
NZ_word['word'] = top_words(Text)
NZ_word['frequency']=top_words_freq(Text)

In [20]:
total_num = NZ_word['frequency'].sum()
NZ_word['relative_freq']=NZ_word['frequency']/total_num

In [21]:
NZ_word.to_csv("NZ_word.csv")

In [22]:
text = ng['article_text_Ngram']
ng['text']=""
ng['text_2']=""

In [23]:
ng['text']=text.apply(remove_place)
ng['text_2']=ng['text'].apply(remove_names)
ng = ng.drop(columns=['text'])

In [24]:
#save no named entities  data to csv
ng.to_csv("NG2.csv")

In [25]:
NG_word = pd.DataFrame(columns=['word','frequency','relative_freq'])
Text = ' '.join(ng['text_2'].tolist())
Text=re.sub(r'[^\w\s]', '', Text)

In [26]:
NG_word['word'] = top_words(Text)
NG_word['frequency']=top_words_freq(Text)

In [27]:
total_num = NG_word['frequency'].sum()
NG_word['relative_freq']=NG_word['frequency']/total_num

In [28]:
NG_word.to_csv("NG_word.csv")

In [30]:
nz.head()

,Unnamed: 0,article_id,article_title,publisher,year,article_text,country_mention,Domestic,article_text_Ngram,article_text_Ngram_stopword,article_text_Ngram_stopword_lemmatize,text_2
0,0,609249,Secret photos not available in Nina search,Marlborough Express,2013,Secret photos not available in Nina search. E...,"[('New Zealand', 2), ('Australia', 1), ('Pakis...",True,Secret photos not available in Nina search. E...,Secret photos available Nina search . EYES IN ...,Secret photo available Nina search EYES IN THE...,Secret photos not available in search . EYES...
1,1,613912,study shows need for better care,Marlborough Express,2013,Psoriasis study shows need for better care. R...,"[('New Zealand', 2)]",True,Psoriasis study shows need for better care. R...,Psoriasis study shows need better care . Relev...,Psoriasis study show need well care Relevant o...,Psoriasis study shows need for better care ....
2,3,405920,Pair guilty of man's brutal murder,Marlborough Express,2013,Sameera Battelage always dreamed of bringing ...,"[('New Zealand', 7), ('Sri Lanka', 2), ('Unite...",True,Sameera Battelage always dreamed of bringing ...,Sameera Battelage always dreamed bringing pare...,Sameera Battelage always dream bring parent Ne...,Battelage always dreamed of bringing his par...
3,9,308419,Key PGW investor short on rural know-how,Marlborough Express,2013,"Those staunch southerners , they just can't a...","[('China', 2), ('Cayman Islands', 1), ('Singap...",True,"Those staunch southerners , they just can't a...","Those staunch southerners , ca n't abide jibbe...",Those staunch southerner ca n't abide jibber j...,"Those staunch southerners , they just ca n't..."
4,10,2049201,All NZ juice paying off for family business,Marlborough Express,2013,Keeping their product pure and unadulterated ...,"[('New Zealand', 5), ('Malaysia', 1), ('Austra...",True,Keeping their product pure and unadulterated ...,Keeping product pure unadulterated paying divi...,Keeping product pure unadulterated pay dividen...,Keeping their product pure and unadulterated...

In [10]:
ie = pd.read_csv('/Users/Rebecca/Desktop/PEACE_Inst/data/5_domestic_filter_Ngram_stopwords_lemmatize/IE_domestic_Ngram_stopword_lematize.csv')
bd = pd.read_csv('/Users/Rebecca/Desktop/PEACE_Inst/data/5_domestic_filter_Ngram_stopwords_lemmatize/BD_domestic_Ngram_stopword_lematize.csv')

In [11]:
text = ie['article_text_Ngram']
ie['text']=""
ie['text_2']=""

In [12]:
ie['text']=text.apply(remove_place)
ie['text_2']=ie['text'].apply(remove_names)
ie = ie.drop(columns=['text'])

In [13]:
#save no named entities  data to csv
ie.to_csv("IE2.csv")

In [15]:
IE_word = pd.DataFrame(columns=['word','frequency','relative_freq'])
Text = ' '.join(ie['text_2'].tolist())
Text=re.sub(r'[^\w\s]', '', Text)
IE_word['word'] = top_words(Text)
IE_word['frequency']=top_words_freq(Text)
total_num = IE_word['frequency'].sum()
IE_word['relative_freq']=IE_word['frequency']/total_num

In [16]:
IE_word.to_csv("IE_word.csv")

In [17]:
text = bd['article_text_Ngram']
bd['text']=""
bd['text_2']=""

In [18]:
bd['text']=text.apply(remove_place)
bd['text_2']=bd['text'].apply(remove_names)
bd = bd.drop(columns=['text'])

In [19]:
#save no named entities  data to csv
bd.to_csv("BD2.csv")

In [20]:
BD_word = pd.DataFrame(columns=['word','frequency','relative_freq'])
Text = ' '.join(bd['text_2'].tolist())
Text=re.sub(r'[^\w\s]', '', Text)
BD_word['word'] = top_words(Text)
BD_word['frequency']=top_words_freq(Text)
total_num = BD_word['frequency'].sum()
BD_word['relative_freq']=BD_word['frequency']/total_num

In [21]:
BD_word.to_csv("BD_word.csv")

In [22]:
ie.head()

,Unnamed: 0,article_id,article_title,publisher,year,article_text,country_mention,Domestic,article_text_Ngram,article_text_Ngram_stopword,article_text_Ngram_stopword_lemmatize,text_2
0,0,3800329,Why smoking destroys your skin,Fashion.ie,2015,"Why smoking destroys your skin. Fashion.ie , ...","[('Ireland', 1), ('United States', 1)]",True,"Why smoking destroys your skin. Fashion.ie , ...","Why smoking destroys skin . Fashion.ie , Irish...",Why smoking destroys skin Fashion.ie Irish fas...,"Why smoking destroys your skin . , fashion n..."
1,1,18379878,Tom Holland found out casting news online,Fashion.ie,2017,Celebrity News. Tom Holland found out casting...,[],True,Celebrity Tom Holland found out casting news ...,Celebrity Tom Holland found casting news onlin...,Celebrity Tom Holland found cast news online T...,Celebrity Holland found out casting news onl...
2,2,21188489,Why Chelsea Handler has quit her Netflix talk ...,Fashion.ie,2017,Celebrity News. Why Chelsea Handler has quit ...,"[('Ireland', 1), ('United States', 1), ('Austr...",True,Celebrity Why Chelsea Handler has quit her Ne...,Celebrity Why Chelsea Handler quit Netflix tal...,Celebrity Why Chelsea Handler quit Netflix tal...,Celebrity Why has quit her talk show . Why ...
3,4,19618659,Simon Cowell shares his thoughts on One Direct...,Fashion.ie,2017,Celebrity News. Simon Cowell shares his thoug...,[],True,Celebrity Simon Cowell shares his thoughts on...,Celebrity Simon Cowell shares thoughts One Dir...,Celebrity Simon Cowell share thought One Direc...,Celebrity shares his thoughts on Direction ...
4,5,21556698,Charlotte Olympia Dellal talks about her fashi...,Fashion.ie,2017,Lifestyle. Charlotte Olympia Dellal talks abo...,"[('Ireland', 1), ('United States', 1)]",True,Lifestyle. Charlotte Olympia Dellal talks abo...,Lifestyle . Charlotte Olympia Dellal talks fas...,Lifestyle Charlotte Olympia Dellal talk fashio...,Lifestyle . Charlotte talks about her fashi...

In [23]:
bd.head()

,Unnamed: 0,article_id,article_title,publisher,year,article_text,country_mention,Domestic,article_text_Ngram,article_text_Ngram_stopword,article_text_Ngram_stopword_lemmatize,text_2
0,2,23672845,Youth Games: Rajshahi div dominate with 36 golds,United News of Bangladesh (satire) (press rele...,2018,Chittagong division followed the leader neck ...,"[('Bangladesh', 1)]",True,Chittagong division followed the leader neck ...,Chittagong division followed leader neck neck ...,Chittagong division follow leader neck neck co...,division followed the leader neck and neck c...
1,3,25301525,BRAC wins OFID annual award for supporting Roh...,United News of Bangladesh (satire) (press rele...,2018,BRAC wins OFID annual award for supporting Ro...,"[('Bangladesh', 3), ('Myanmar', 2), ('Ecuador'...",True,BRAC wins OFID annual award for supporting Ro...,BRAC wins OFID annual award supporting Rohingy...,BRAC win OFID annual award support Rohingyas U...,wins award for supporting . UNB NEWS . Sunda...
2,5,23529918,No ban on BD workers' recruitment in Kuwait: S...,United News of Bangladesh (satire) (press rele...,2018,No ban on BD workers' recruitment in Kuwait S...,"[('Kuwait', 8), ('Bangladesh', 2), ('United St...",True,No ban on BD workers' recruitment in Kuwait S...,No ban BD workers ' recruitment Kuwait Shahria...,No ban BD worker recruitment Kuwait Shahriar T...,No ban on workers ' recruitment in Shahriar ...
3,6,25992781,"Shakib, Tamim, Liton get big moves in T20I ran...",United News of Bangladesh (satire) (press rele...,2018,"Shakib , Tamim , Liton get big moves in T20I ...","[('Bangladesh', 3), ('Pakistan', 1), ('Puerto ...",True,"Shakib , Tamim , Liton get big moves in T20I ...","Shakib , Tamim , Liton get big moves T20I rank...",Shakib Tamim Liton get big move T20I ranking D...,", , get big moves in T20I rankings . , Aug W..."
4,7,24108911,CWG: Shooter Shakil clinches 2nd silver for Ba...,United News of Bangladesh (satire) (press rele...,2018,The 22 year old Army shooter from Khulna Shak...,"[('Bangladesh', 4), ('India', 2), ('Singapore'...",True,The 22 year old Army shooter from Khulna Shak...,The 22 year old Army shooter Khulna Shakil cam...,The 22 year old Army shooter Khulna Shakil com...,The 22 year old shooter from Khulna came to ...

## Remove NE again

In [44]:
US=pd.read_csv("data/US2.csv")
SG=pd.read_csv("data/SG2.csv")
PH=pd.read_csv("data/PH2.csv")
NZ=pd.read_csv("data/NZ2.csv")
NG=pd.read_csv("data/NG2.csv")
IE=pd.read_csv("data/IE2.csv")
BD=pd.read_csv("data/BD2.csv")

In [45]:
US['text_2']=US['text_2'].apply(remove_2)
SG['text_2']=SG['text_2'].apply(remove_2)
PH['text_2']=PH['text_2'].apply(remove_2)
NZ['text_2']=NZ['text_2'].apply(remove_2)
NG['text_2']=NG['text_2'].apply(remove_2)
IE['text_2']=IE['text_2'].apply(remove_2)
BD['text_2']=BD['text_2'].apply(remove_2)

KeyboardInterrupt:

In [75]:
BD['text_2']=BD['text_2'].apply(remove_2)

In [67]:
NG[NG['text_2'].str.contains("Nigeria")]['text_2']

5          , . The immediate past Chief Justice of Nige...
6          OPL Scam to Serve , by . Justice  of , , Abu...
27         Onnoghen Orders Trial to Go On Despite Court...
33         Businessman Bags for Issuance of Dud Cheque ...
43         Justices At . The last may not have been hea...
                               ...
52769      Alleged corruption demands probe of by . It ...
52794      faults group querying 's exclusion from $ ar...
52838      women decry non release of health funds by ....
52856      hails over . In the last editions , has beco...
52868      SUNSHINE STARS , . Sunshine Stars were held ...
Name: text_2, Length: 2317, dtype: object

In [76]:
##check
#CA['text_2']=CA[CA['text_2'].str.contains("Canada")]['text_2'].str.replace('Canada', '')
#CA[CA['text_2'].str.contains("Canada")]['text_2']


US['text_3']=US['text_2'].str.replace('US', '')
US['text_3']=US['text_3'].str.replace('Canada', '')

SG['text_3']=SG['text_2'].str.replace('Singapore', '')
SG['text_3']=SG['text_3'].str.replace('Philippines', '')

PH['text_3']=PH['text_2'].str.replace('Philippines', '')
PH['text_3']=PH['text_3'].str.replace('Singapore', '')

NZ['text_3']=NZ['text_2'].str.replace('New Zealand', '')
NZ['text_3']=NZ['text_3'].str.replace('Zealand', '')
NZ['text_3']=NZ['text_3'].str.replace('zealand', '')

NG['text_3']=NG['text_2'].str.replace('Nigeria', '')
NG['text_3']=NG['text_3'].str.replace('New Zealand', '')

IE['text_3']=IE['text_2'].str.replace('Ireland', '')
IE['text_3']=IE['text_3'].str.replace('Bangladesh', '')


#NZ[NZ['text_2'].str.contains("zealand")]['text_2']
#SG[SG['text_2'].str.contains("Singapore")]['text_2']
#BD[BD['text_2'].str.contains("Bangladesh")]['text_2']
#IE[IE['text_2'].str.contains("Bangladesh")]['text_2'][9175]

In [77]:
CA['text_3']=CA['text_2'].str.replace('Canada', '')
CA['text_3']=CA['text_3'].str.replace('Canadian', '')
CA['text_3']=CA['text_3'].str.replace('US', '')

BD['text_3']=BD['text_2'].str.replace('Ireland', '')
BD['text_3']=BD['text_3'].str.replace('Bangladesh', '')

In [64]:
SG['text_3']

0          's dark comedy about a trio of orphans tryin...
1          bubble tea chain known for making fresh tapi...
2          In , A debuted the Pay Your Age deal . For d...
3          Suicide is the main cause of death for mille...
4          now makes an adjustable kettlebell that goes...
                               ...
20191      Report further studies the market developmen...
20192      Steam Coal Market report provide emerging op...
20193      Barium Sulphate Precipitated Market Research...
20194      Global Fast blue RR Market report provide em...
20195      The introductory section , market research r...
Name: text_3, Length: 20196, dtype: object

In [78]:
CA.to_csv("CA3.csv")
US.to_csv("US3.csv")
SG.to_csv("SG3.csv")
PH.to_csv("PH3.csv")
NZ.to_csv("NZ3.csv")
NG.to_csv("NG3.csv")
IE.to_csv("IE3.csv")
BD.to_csv("BD3.csv")

## Remove Stop words : text_no_sw

In [8]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/Rebecca/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [81]:
from nltk.tokenize import word_tokenize
#df['response'] = df.response.str.replace("[^\w\s]", "").str.lower()
CA['text_no_sw'] = CA['text_3'].apply(lambda x: ' '.join([item for item in word_tokenize(x.lower()) if item not in stop]))
CA.to_csv("CA3_.csv")
US['text_no_sw'] = US['text_3'].apply(lambda x: ' '.join([item for item in word_tokenize(x.lower()) if item not in stop]))
US.to_csv("US3_.csv")
SG['text_no_sw'] = SG['text_3'].apply(lambda x: ' '.join([item for item in word_tokenize(x.lower()) if item not in stop]))
SG.to_csv("SG3_.csv")
PH['text_no_sw'] = PH['text_3'].apply(lambda x: ' '.join([item for item in word_tokenize(x.lower()) if item not in stop]))
PH.to_csv("PH3_.csv")
NZ['text_no_sw'] = NZ['text_3'].apply(lambda x: ' '.join([item for item in word_tokenize(x.lower()) if item not in stop]))
NZ.to_csv("NZ3_.csv")
NG['text_no_sw'] = NG['text_3'].apply(lambda x: ' '.join([item for item in word_tokenize(x.lower()) if item not in stop]))
NG.to_csv("NG3_.csv")
IE['text_no_sw'] = IE['text_3'].apply(lambda x: ' '.join([item for item in word_tokenize(x.lower()) if item not in stop]))
IE.to_csv("IE3_.csv")
BD['text_no_sw'] = BD['text_3'].apply(lambda x: ' '.join([item for item in word_tokenize(x.lower()) if item not in stop]))
BD.to_csv("BD3_.csv")

In [ ]:
CA.to_csv("CA3_.csv")
US.to_csv("US3_.csv")
SG.to_csv("SG3_.csv")
PH.to_csv("PH3_.csv")
NZ.to_csv("NZ3_.csv")
NG.to_csv("NG3_.csv")
IE.to_csv("IE3_.csv")
BD.to_csv("BD3_.csv")

## Other Countries

In [9]:
#Ghana 1
gh=pd.read_csv('/Users/Rebecca/Desktop/PEACE_Inst/data/5_domestic_filter_Ngram_stopwords_lemmatize/GH_domestic_Ngram_stopword_lematize.csv')
#Australia 1
au=pd.read_csv('/Users/Rebecca/Desktop/PEACE_Inst/data/5_domestic_filter_Ngram_stopwords_lemmatize/AU_domestic_Ngram_stopword_lematize.csv')

#UK 1
gb=pd.read_csv('/Users/Rebecca/Desktop/PEACE_Inst/data/5_domestic_filter_Ngram_stopwords_lemmatize/GB_domestic_Ngram_stopword_lematize.csv')
#Kenya 0
ke=pd.read_csv('/Users/Rebecca/Desktop/PEACE_Inst/data/5_domestic_filter_Ngram_stopwords_lemmatize/KE_domestic_Ngram_stopword_lematize.csv')
#Tanzania 0
tz=pd.read_csv('/Users/Rebecca/Desktop/PEACE_Inst/data/5_domestic_filter_Ngram_stopwords_lemmatize/TZ_domestic_Ngram_stopword_lematize.csv')

In [23]:
text = gh['article_text_Ngram']

gh['text_2']=""
gh['text_2']=text.apply(remove_place)
gh['text_2']=gh['text_2'].apply(remove_names)

str

In [26]:

from nltk.tokenize import word_tokenize
gh['text_2']=gh['text_2'].apply(remove_2)
gh['text_no_sw'] = gh['text_2'].apply(lambda x: ' '.join([item for item in word_tokenize(x.lower()) if item not in stop]))
gh['target']=1

In [27]:
gh.to_csv('GH3.csv')

In [10]:
text = au['article_text_Ngram']

au['text_2']=""
au['text_2']=text.apply(remove_place)
au['text_2']=au['text_2'].apply(remove_names)
au['text_2']=au['text_2'].apply(remove_2)
au['text_no_sw'] = au['text_2'].apply(lambda x: ' '.join([item for item in word_tokenize(x.lower()) if item not in stop]))
au['target']=1

In [11]:
au.to_csv('AU3.csv')

In [12]:
text = gb['article_text_Ngram']

gb['text_2']=""
gb['text_2']=text.apply(remove_place)
gb['text_2']=gb['text_2'].apply(remove_names)
gb['text_2']=gb['text_2'].apply(remove_2)
gb['text_no_sw'] = gb['text_2'].apply(lambda x: ' '.join([item for item in word_tokenize(x.lower()) if item not in stop]))
gb['target']=1

In [13]:
gb.to_csv("GB3.csv")

In [14]:
text = ke['article_text_Ngram']

ke['text_2']=""
ke['text_2']=text.apply(remove_place)
ke['text_2']=ke['text_2'].apply(remove_names)
ke['text_2']=ke['text_2'].apply(remove_2)
ke['text_no_sw'] = ke['text_2'].apply(lambda x: ' '.join([item for item in word_tokenize(x.lower()) if item not in stop]))
ke['target']=0

In [15]:
ke.to_csv("KE3.csv")

In [16]:
text = tz['article_text_Ngram']

tz['text_2']=""
tz['text_2']=text.apply(remove_place)
tz['text_2']=tz['text_2'].apply(remove_names)
tz['text_2']=tz['text_2'].apply(remove_2)
tz['text_no_sw'] = tz['text_2'].apply(lambda x: ' '.join([item for item in word_tokenize(x.lower()) if item not in stop]))
tz['target']=0

ValueError: [E088] Text of length 3318327 exceeds maximum of 1000000. The parser and NER models require roughly 1GB of temporary memory per 100,000 characters in the input. This means long texts may cause memory allocation errors. If you're not using the parser or NER, it's probably safe to increase the `nlp.max_length` limit. The limit is in number of characters, so you can check whether your inputs are too long by checking `len(text)`.

In [ ]:
tz.to_csv("TZ3.csv")